* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: #505962; */
}
/* --------- NEW --------- */ /* --------- NEW --------- */

/* --------- NAV --------- */
.navbar {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  /* background-color: rgba(1, 1, 1, 0.6) !important; */
}

.navbar-collapse {
  text-transform: uppercase;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #1ebba3;
  transition-property: color;
  transition-duration: 2s;
  transition-timing-function: linear;
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
}

.navbar-brand img {
  height: 2.5rem;
  background-color: #fff !important;
  border-radius: 51%;
}

.navbar span {
  display: inline-block;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}
.subnav.active,
.subnav:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}
/* --------- END NAV --------- */

/* sidebar */
.sideBar li {
  color: #fff;
  background-color: #222;
  cursor: pointer;
}

.sideBar li:hover,
.sideBar li:focus {
  color: #1ebba3;
  transition: all 0.4s;
}

/* end sidebar */
.fas {
  color: #1ebba3;
  padding-bottom: 3rem;
}

.narrow {
  widows: 75%;
  margin: 1.5rem auto;
}

.offset:before {
  display: block;
  content: "";
  height: 5rem;
}
.offsetLanding:before {
  display: block;
  content: "";
  height: 4rem;
}
/* --------- landingPage --------- */
.home-inner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/imgs/landing.jpg");
  background-size: cover;
  background-position: center;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 60%;
  z-index: 1;
  color: #fff;
}

.caption h1 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem #222;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #222;
  padding-bottom: 1rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
}

.btn-lg:hover {
  background-color: #1ebba3;
}
/* --------- END landingPage --------- */
.hover-dark:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  transition: 0.8 all;
}

.full-height {
  min-height: 100vh;
}

.centered {
  margin: auto;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: transition(-50%, -50%);
}

/* --------- features --------- */

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  padding: 2rem;
}

.jumbotron h3 {
  margin-bottom: 2rem;
  margin-top: -2rem;
}
.jumbotron hr {
  background-color: #1ebba3;
  width: 40%;
  height: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.featured {
  margin: 2rem;
}
/* --------- end features --------- */

/* --------- FORMS --------- */
.logoForm {
  width: 5rem;
  margin: 0 auto;
}
.logoForm img:hover {
  border-radius: 50%;
  background-color: #1ebba3;
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.formInput {
  margin: 0 auto;
}

.switch {
  cursor: pointer;
}

.switch input[type="checkbox"] {
  opacity: 0;
}

.switch-btn {
  width: 6rem;
  height: 3rem;
  background-color: #e5e5e5;
  position: relative;
  transition: all 0.5s;
}

.switch-btn:before {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 2.6rem;
  background-color: #1ebba3;
  left: 0.2rem;
  top: 0.2rem;
  transition: all 0.5s;
}

input[type="checkbox"]:checked + .switch-btn:before {
  left: 3rem;
}

input[type="checkbox"]:checked + .switch-btn {
  background: rgba(50, 255, 50, 0.7);
}

/* --------- END FORMS --------- */

/* item view */
.itemImage {
  width: 300px;
  height: 300px;
}
.itemImage img {
  width: 100%;
}

.my-card {
  margin: 1rem;
  padding: 0.5rem;
}

.my-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: #1ebba3;
  transition: all 0.4s;
}

.my-card h5,
.my-card p {
  margin-left: 1.5rem;
}

.my-card span {
  display: inline-block;
  margin-right: 0.5rem;
}

.pagination li {
  cursor: pointer;
}
/*  */

/* badge */
.badge-button {
  position: fixed;
  top: 10rem;
  right: 0;
  max-width: 6rem;
}
/* end badge */

/* /////////////////////////////////////////////////////////////////////// */
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
