doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(rel="stylesheet", href="../bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="../stylesheets/style.css")
    
    title FeedMe | #{title}
  body
    include includes/nav.pug

    .container
      block content

    p.mt-5.mb-3.text-muted.text-center Caio Silva © 2019

    script(src='../bootstrap/jquery-3.3.1.slim.min.js')
    script(src='../js/main.js')
    script(src='../bootstrap/popper.min.js')
    script(src='../bootstrap/bootstrap.min.js')