extends layout.pug

block content
  div.mt-4
    .text-center.mb-4
      img.mb-4(src='../imgs/food.png' alt width='80' height='80')
      h1.h3.mb-3.font-weight-normal Register Now
      p Discover amazing recipes based on products you have at home

  form.form-signin.text-center.border
    .form-group.row
      .col: input#firstName.form-control.form-control-lg(type='text' name='name' placeholder='First Name' required autofocus)
      .col: input#lastName.form-control.form-control-lg(type='text' name='lastName' placeholder='Last Name' required)

    .form-group.row
      .col: input#inputEmail.form-control.form-control-lg(type='email' name='email' placeholder='Email address' required)
      .col: input#inputPhone.form-control.form-control-lg(type='tel' name='phone' placeholder='Phone Number' required)
    
    .form-group.row
      .col: input#inputPassword.form-control.form-control-lg(type='password' name='password' placeholder='Password' required)
      .col: input#inputPasswordConfirmation.form-control.form-control-lg(type='password' name='confirmPassword' placeholder='Confirm Password' required)

    button#registerButton.btn.btn-lg.btn-primary.btn-lg(type='submit') Register
